{% extends "layout.html" %}

{% block head %} {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"/>
{% endblock %}

{% block content %}
    <div class="width-wrapper">
        <div class="mainpage-banners">
            <h3 class="choose">Выберите интересующий вас раздел</h3>
            <div>
                <a style="background-image: url(../static/img/women_banner.webp); height: 510px">
                    <div class="banner-text">Женщинам</div>
                </a>
                <a style="background-image: url(../static/img/men_banner.webp); height: 510px">
                    <div class="banner-text">Мужчинам</div>
                </a>
                <a style="background-image: url(../static/img/kids_banner.webp); height: 510px">
                    <div class="banner-text" style="">Детям</div>
                </a>
            </div>
        </div>
        <img src="static/img/brands.png" alt="brands" style="width:100%; position:relative; margin-bottom:40px">
    </div>
{% endblock %}