{% extends "layout.html" %} {% block title %} Sign Up {% endblock %} {% block head %} {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='styles/style.css') }}"
    />
{% endblock %} {% block content %}
    <div class="width-wrapper" style="margin: 3rem auto;">
        <div class="error-messages">
            {% if errors %}
                {% for error in errors %}
                    <div class="message-header">
                        <p>Error</p>
                    </div>
                    <div class="message-body">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="signup-form">
            <form method="POST" action="/signup">
                {{ form.hidden_tag() }}
                <h2>Регистрация</h2>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            aria-describedby="emailHelp"
                            placeholder="Введите e-mail"
                    />
                    <div class="form-errors">
                        {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder="Пароль"
                    />
                    <div class="form-errors">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="repeated_password">Повторите пароль</label>
                    <input
                            type="password"
                            class="form-control"
                            id="repeated_password"
                            name="repeated_password"
                            placeholder="Повторите пароль"
                    />
                    <div class="form-errors">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="first_name">Имя</label>
                    <input
                            type="text"
                            class="form-control"
                            id="first_name"
                            name="first_name"
                            placeholder="Имя"
                    />
                    <div class="form-errors">
                        {% for error in form.first_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name">Фамилия</label>
                    <input
                            type="text"
                            class="form-control"
                            id="last_name"
                            name="last_name"
                            placeholder="Фамилия"
                    />
                    <div class="form-errors">
                        {% for error in form.last_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">Адрес</label>
                    <input
                            type="text"
                            class="form-control"
                            id="address"
                            name="address"
                            placeholder="Адрес"
                    />
                    <div class="form-errors">
                        {% for error in form.address.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="postcode">Индекс</label>
                    <input
                            type="text"
                            class="form-control"
                            id="postcode"
                            name="postcode"
                            placeholder="Индекс"
                    />
                    <div class="form-errors">
                        {% for error in form.postcode.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
{% endblock %}